workflows/examples/weekly-cs-sheet-summary.workflow.json
{
  "name": "주간 CS 시트 요약 알림",
  "nodes": [
    {
      "parameters": {
        "content": "## 📌 배포 전 교체 필요 (Placeholder 목록)\n\n| Placeholder | 위치 | 설명 |\n|---|---|---|\n| `YOUR_SHEET_ID` | CS 시트 읽기 노드 > documentId | Google Sheets 스프레드시트 ID (URL의 `/d/` 뒤 문자열) |\n| `YOUR_SHEET_NAME` | CS 시트 읽기 노드 > sheetName | 지난주 데이터가 있는 탭 이름 (예: `2025-W20`) |\n| `YOUR_CHANNEL_ID` | Slack 알림 노드 > channelId | Slack 채널 ID (예: `C09TA9KDPJ4`) |\n| Google Sheets credential | CS 시트 읽기 노드 | n8n Credentials 에서 Google Sheets OAuth2 설정 후 연결 |\n| Slack credential | Slack 알림 노드 | n8n Credentials 에서 Slack API 설정 후 연결 |\n\n## 📅 지난주 범위 산출 로직\n\n실행 시점: **매주 월요일 09:00 KST**\n- 지난주 월요일 00:00 (Asia/Seoul) = `$now.setZone('Asia/Seoul').minus({weeks:1}).startOf('week')`\n- 지난주 일요일 23:59 (Asia/Seoul) = `$now.setZone('Asia/Seoul').minus({weeks:1}).endOf('week')`\n- Luxon ISO 형식: `toISO()` — 시트의 날짜 컬럼이 ISO 8601 형식임을 전제합니다.\n\n## 📋 시트 날짜 컬럼 가정\n\n현재 날짜 필터는 **`date`** 컬럼명을 기준으로 합니다.\n실제 시트의 컬럼명이 다를 경우 (예: `createdAt`, `접수일시` 등)\nFilter 노드의 날짜 조건 필드명을 일치하도록 변경하세요.\n\n## 🧪 테스트 방법\n\nManual Trigger 없이 Schedule Trigger 단독으로 구성되어 있습니다.\n테스트 시: n8n UI 에서 워크플로를 열고 우측 상단 **\"Execute workflow\"** 버튼을 클릭하세요.\n(스케줄을 기다리지 않고 즉시 실행됩니다.)",
        "height": 580,
        "width": 560,
        "color": 4
      },
      "id": "a0000001-0000-4000-8000-000000000001",
      "name": "📌 배포 전 안내",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -520]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "a0000002-0000-4000-8000-000000000002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [80, 80]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_NAME",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a0000003-0000-4000-8000-000000000003",
      "name": "CS 시트 읽기",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [320, 80],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔍 Filter 노드 — 날짜 필드 안내\n\n날짜 조건에서 사용하는 필드명: **`date`**\n\n실제 시트 컬럼명이 다를 경우 아래 두 조건의 필드명을 모두 교체:\n- `{{ $json.date }}` → `{{ $json.실제컬럼명 }}`\n\n날짜 형식 전제:\n- ISO 8601 문자열 (예: `2025-05-12T10:30:00.000Z`)\n- 또는 날짜만 있는 형식 (예: `2025-05-12`) — 이 경우 startOf/endOf 비교가 올바르게 동작합니다.\n\n지난주 범위 (월요일 실행 기준):\n- 시작: `$now.setZone('Asia/Seoul').minus({weeks:1}).startOf('week').toISO()`\n- 종료: `$now.setZone('Asia/Seoul').minus({weeks:1}).endOf('week').toISO()`",
        "height": 320,
        "width": 400,
        "color": 5
      },
      "id": "a0000004-0000-4000-8000-000000000004",
      "name": "🔍 Filter 날짜 안내",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, -320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-date-from",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $now.setZone('Asia/Seoul').minus({weeks:1}).startOf('week').toISO() }}",
              "operator": {
                "type": "string",
                "operation": "after",
                "rightType": "any"
              }
            },
            {
              "id": "cond-date-to",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $now.setZone('Asia/Seoul').minus({weeks:1}).endOf('week').toISO() }}",
              "operator": {
                "type": "string",
                "operation": "before",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a0000005-0000-4000-8000-000000000005",
      "name": "Filter: open + 지난주",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [560, 80]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "id": "a0000006-0000-4000-8000-000000000006",
      "name": "건수 집계",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [800, 80]
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "count",
              "type": "numberValue",
              "numberValue": "={{ $json.items.length }}"
            },
            {
              "name": "weekStart",
              "type": "stringValue",
              "stringValue": "={{ $now.setZone('Asia/Seoul').minus({weeks:1}).startOf('week').toFormat('M월 d일') }}"
            },
            {
              "name": "weekEnd",
              "type": "stringValue",
              "stringValue": "={{ $now.setZone('Asia/Seoul').minus({weeks:1}).endOf('week').toFormat('M월 d일') }}"
            },
            {
              "name": "slackText",
              "type": "stringValue",
              "stringValue": "=*🗂 주간 CS 미해결 알림* — {{ $now.setZone('Asia/Seoul').minus({weeks:1}).startOf('week').toFormat('M월 d일') }}(월) ~ {{ $now.setZone('Asia/Seoul').minus({weeks:1}).endOf('week').toFormat('M월 d일') }}(일)\n• 미해결 건수: *{{ $json.items.length }}건*\n_status=open 기준_"
            }
          ]
        },
        "options": {
          "includeBinaryData": false
        }
      },
      "id": "a0000007-0000-4000-8000-000000000007",
      "name": "메시지 조립",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 80]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "a0000008-0000-4000-8000-000000000008",
      "name": "Slack 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [1280, 80],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "YOUR_SLACK_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "CS 시트 읽기", "type": "main", "index": 0 }]
      ]
    },
    "CS 시트 읽기": {
      "main": [
        [{ "node": "Filter: open + 지난주", "type": "main", "index": 0 }]
      ]
    },
    "Filter: open + 지난주": {
      "main": [
        [{ "node": "건수 집계", "type": "main", "index": 0 }]
      ]
    },
    "건수 집계": {
      "main": [
        [{ "node": "메시지 조립", "type": "main", "index": 0 }]
      ]
    },
    "메시지 조립": {
      "main": [
        [{ "node": "Slack 알림", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
